html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map
{
	height: 100%;
}
/* Users request a bit more explanation with whats going on */
#legend {
  font-family:'Roboto','Helvetica','Arial',sans-serif!important;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}
#legend h3 {
  margin-top: 0;
}

#legend img {
  vertical-align: middle;
}
/* End legend */

.nav-list-icon {
  width: 300px;
}
.main-layout .main-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.main-layout .main-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.main-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.main-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.main-drawer .mdl-menu__container {
  z-index: -1;
}
.main-drawer .main-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.main-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px;
  /*height: 151px;*/
}
.main-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-layout .main-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.main-layout .main-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.main-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.main-content {
  max-width: 1080px;
}

/* Info Window */
.info-card-wide.mdl-card {
  width: 512px;
}
.info-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/info_card.jpg') center / cover;
}
.info-card-wide > .mdl-card__menu {
  color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b2ebf2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b2ebf2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b2ebf2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b2ebf2;
}

